.filter-checkbox {
    display: inline-block;
    margin-top: 32px;
    height: 20px;
    position: relative;
}

.filter-checkbox__input {
    display: block;
    width: 0;
	height: 0;	
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.filter-checkbox__switch {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 50px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
}

.filter-checkbox__switch::before {
    position: absolute;
    display: block;
    width: 36px;
    height: 20px;
    top: 0;
    left: 0;
    content: '';
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: transparent;
}

.filter-checkbox__switch::after {
    position: absolute;
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    left: 3px;
    top: 3px;
    filter: drop-shadow(0 2px 6px rgba(0, 0, 0, .3));
    transition: all 0.3s ease;
}

.filter-checkbox__input:checked + .filter-checkbox__switch::before {
    border: none;
    background-color: #2BE080;
    transition: all 0.3s ease;
}

.filter-checkbox__input:checked + .filter-checkbox__switch::after {
    left: 18px;
    top: 2px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1023px) {
    .filter-checkbox {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 29px;
    }

    .filter-checkbox__switch {
        padding-left: 0px;
        padding-right: 52px;
    }

    .filter-checkbox__switch::before {
        left: auto;
        right: 0;
    }

    .filter-checkbox__switch::after {
        left: auto;
        right: 19px;
    }

    .filter-checkbox__input:checked + .filter-checkbox__switch::after {
        left: auto;
        right: 3px;
    }
}

@media screen and (max-width: 767px) {
    .filter-checkbox {
        justify-content: center;
        margin-top: 40px;
    }

    .filter-checkbox__switch {
        padding-right: 49px;
        font-size: 11px;
    }
}